[Unit]
Description=MySQL service for instance mysql1
After=network.target

[Service]
ExecStart=/usr/bin/mysqld_safe --defaults-file=/etc/mysql1/my.cnf
User=mysql
Group=mysql
Restart=always
RestartSec=3
StartLimitInterval=0

[Install]
WantedBy=multi-user.target